.btn1 {
    background-color: transparent;
    border: none;
 }
 .btn2 {
    background-color: transparent;
    border: none;
 }
 .btn3 {
    background-color: transparent;
    border: none;
 }
 .btn4 {
    background-color: transparent;
    border: none;
 }
 .container {
background-color: #cbbccb;
display: flex;
justify-content: space-between;
 }
 .container1