.btn1 {
    background-color: transparent;
    border: none;
 }
 .btn2 {
    background-color: transparent;
    border: none;
 }
 .btn3 {
    background-color: transparent;
    border: none;
 }
 .btn4 {
    background-color: transparent;
    border: none;
 }
 .container {
background-color: #cbbccb;
display: flex;
justify-content: space-between;
 }
 .container1 {
    display: flex;

 }
 .port{
    margin-left: 1rem;
    color: blue;
 }
 .box {
     text-align: center;
     margin: 5rem;
 }
 .developer{
    text-align:center;
 }
 .btn5{
    background-color: aqua;
color: azure;
padding: 10px;
border: none;
border-radius: 5px;
}
.btn6{
    padding: 10px;
    border:1px ;
    border-radius: 5px;
    color: blue;
    background-color: transparent;
}